body {
    background-image: url(photo/asadal_stock_61.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
}
@font-face {
    font-family: neuropol ;
    src: url(fonts/neuropol-x-cufonfonts-webfont/neuropol\ x\ free.woff);
}
/*window container */
.window {
    background-color: rgba(255, 255, 255, 0.5);
    width: 500px;
    height: 400px;
    border: solid 2px black;
    border-radius: 5%;
    box-shadow: 5px 5px 5px rgb(127, 185, 255);
 
}
/*window title bar */
.main-header{
    height: 60px;
    width: 460px;
  
  /* Background Layers: 1. White top specular highlight, 2. Aero gradient base */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0) 50%), 
    linear-gradient(to bottom, #7da5c9 0%, #2f699c 50%, #174278 100%);
  
    /* Glossy/soft borders */
    border: 1px solid #102a4a;
    border-radius: 8px 8px 0 0;
  
     /* Subtle inner glow */
    box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 2px 5px rgba(0, 0, 0, 0.3);
  
    /* Text Styling */
    display: flex;
    align-items: center;
    padding: 0 20px;
    color: #ffffff;
    font-family:neuropol ;
    font-size: 1.2rem;
    font-weight: bold;
    text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.5);
}
.window-controls {
    display: flex;
    gap: 2px;
}
.btn-minimize, .btn-maximize{
    width: 50px;
    height: 40px;
}
.btn-close{
    width: 70px;
    height: 40px;
}
.window-body {
    background-color: rgba(#12efff, #FFF, #12efff, 0.9);
    border: 2px solid;
    border-color: #808080 #ffffff #ffffff #808080; 
    border-radius: 5%;
    padding: 15px;
    margin: 2px 2px 2px 4px;
    width: 460px;
    min-height: 280px;
    transform: translateY(-330px);
}